---
import Layout from '../layouts/layouts.astro';
import Sidebar from '../components/Sidebar.astro';
---
<Layout>
  <Sidebar />
  <main style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 80vh;">
    <h1>Bienvenido al sistema de gestión</h1>
  </main>
</Layout>
